<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Raytelligent Cloud{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
 {#   <link href='{{  asset('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic')}}' rel='stylesheet' type='text/css'>
    <link href='{{  asset('https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500')}}' rel='stylesheet' type='text/css'>
    <link href='{{  asset('https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic')}}' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}"/>
    <link href="{{ asset('assets/vendor/gentelella/build/css/custom.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body class="nav-md">

<div class="container body">
    <div class="main_container">
        {% include ':account:sidebar.html.twig' %}
        {% include ':account:topnav.html.twig' %}


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Plain Page</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
        {% block body %}{% endblock %}
            </div>
        </div>
        {% include ':account:footer.html.twig' %}
    </div>
</div>

{% block javascripts %}

    <!-- jQuery -->
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendor/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    {#<script src="{{ asset('assets/vendor/nprogress/nprogress.js') }}"></script>#}

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/vendor/gentelella/build/js/custom.min.js') }}"></script>


{% endblock %}
</body>
</html>
