{% extends '::layout.html.twig' %}

{% block body %}
    <div class="row elevation-container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 elevation-form">
            {{ form_start(form, {'method': 'post', 'action': path('register'), 'attr': {'class': 'registration-page', 'novalidate' : 'novalidate'}}) }}
            <h2>Register</h2>

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> Correct the errors</li>
                    </ul>
                </div>
            {% endif %}

            {{ form_row(form.email) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>
            </div>
            <hr class="featurette-divider">

            {{ form_row(form.address1) }}
            {{ form_row(form.address2) }}
            {{ form_row(form.city) }}
            {{ form_row(form.postCode) }}
            {{ form_row(form.country) }}

            <hr>
                <button id="register-button" type="submit" class="btn">
                    SUBMIT
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}