{% extends '::layout.html.twig' %}
{% block title %}Register with Raytelligence{% endblock %}
{% block bodyClass %}<body class="login">{% endblock %}
{% block body %}
        <div>
            <div class="login_wrapper">
                <div class="form login_form">
                    <section class="login_content">
                        {{ form_start(form, {'method': 'post', 'action': path('register'), 'attr': {'class': 'registration-page', 'novalidate' : 'novalidate'}}) }}
                            <h1>Create Account</h1>
                            {% if not form.vars.valid %}
                                <div class="alert alert-danger">
                                    <ul class="list-unstyled">
                                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> Correct the errors</li>
                                    </ul>
                                </div>
                            {% endif %}
                            <div>
                                {{ form_row(form.email) }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.plainPassword.first) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.plainPassword.second) }}
                                </div>
                            </div>
                            <hr class="featurette-divider">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.firstName) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.lastName) }}
                                </div>
                            </div>
                            <div>
                                {{ form_row(form.address1) }}
                                {{ form_row(form.address2) }}
                                {{ form_row(form.city) }}
                                {{ form_row(form.postCode) }}
                                {{ form_row(form.country) }}

                                <button id="register-button" type="submit" class="btn btn-success">
                                    SUBMIT
                                </button>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">Already a member ?
                                    <a href="{{ path('account_login') }}"> Log in </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />
                            </div>
                        {{ form_end(form) }}
                    </section>
                </div>
            </div>
        </div>
{% endblock %}